<%= render :partial =>'home/marquee',:locals=>{:message =>'EMPLOYEE INFORMATION'} %>
		<div style="text-align:center; width:100%;">
		<%= form_for(@user, :html => {:id => 'user', :name => 'user_form'}) do |f| %> 
		<div id="user_image"><%= image_tag @user.user_image.url(:profile) %></div>   
		<center>
			<table>
					<%= render :partial =>'user_fields',:locals=>{:f => f,:show_image=>true} %>			
			</table>
		 </center>
		<% end %>
		</div>
		<br><br><br><br>
		<%= link_to 'Back', users_path %>
