<%= form_for :photo, :url => album_photos_path(@album,@photo),:html => { :multipart => true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center><h2>UPLOAD PHOTO IN <%= ((@photo.album).album_name).upcase %> ALBUM</h2></center>
  <br><br>
  <%= f.hidden_field :album_id %>
<div id="moreUploads">
   <input type="file" name="photo[image][]" id="attachment" onchange="document.getElementById('moreUploadsLink').style.display = 'block';" /><br/>
   </div><br><br>
   <div id="moreUploadsLink" style="display:none;">
   <a id="add_new_file" href='#'>Attach another File</a></div>
  

  <div class="actions"><br><br>
  <%= f.submit :UPLOAD %>
  </div>
<% end %>

<script type="text/javascript">
$('document').ready(function() {

  $('#add_new_file').click(function() {
    $('#moreUploads').append('<input id="attachment" type="file" onchange="f1();" name="photo[image][]"/><br/>');
  }); 

  function f1(){
    document.getElementById('moreUploadsLink').style.display = 'block';
  }

});
</script>
