<%= javascript_include_tag "jquery_calender.js"%>
<%= javascript_include_tag "jquery_ui_calender.js"%>
<div>
	<div id ="all_thought" style="font-size:15px;padding-top:34px">
	<%@suggestion.each do |f|%>

			<div class="image_commet">
        <div class="comment_user_image"><%= image_tag User.find(f.user_id).user_image.url(:comment_pic) rescue '' %></div>
        <div class="comment_contener">
          <div class="comment"><span class="cmt_user_name"><%=user_name(f.user_id).titleize rescue ''%></span> <%= f.suggestion %></div>
          <div class=comment_like"><%=f.ed_date.to_s[0,19] rescue ''%> 
          </div>
        </div>        
        <div class="clear"></div>
        
      </div>
      <div class="clear"></div>


	<%end%>
		
	</div>



	<%= will_paginate @suggestion %>

	<%= form_tag({:controller => "suggestions", :action => "create_event"}, :method => "get") do |f|%>
	<div id ="idea" style="padding-top:15px"> <%= label_tag "Date of Event" %><%= date_select("date_of_event", :order => [:day, :month, :year]) %><br />
	</div>
	<div id ="sugges"><div>Suggestion</div> <textarea id="sugg_area" name="event_idea", cols = "50", rows = "5"></textarea></div>
	<div> <%=submit_tag "Suggestion",:onclick => "return check_suggestion();"%>
	</div>
	<%end%>
</div>
<script type="text/javascript">
 function check_suggestion()
 {
 		if(document.getElementById("sugg_area").value == "")
 		{
 			alert("Suggestion can't be blank");
 			return false;
 		}
 	return true;
 }
</script>


