<div class="clear"></div>
  <br><br>
	  <center>
    <table>
    <tr>
		<td>
		<% form_tag({:controller => "solutions", :action => "search"}, :method => "get") do |f| %>
			<table style="width:5%;" align="right">
				<tr>
					<td ><%= text_field_tag(:txt_search, params["txt_search"].blank? ? "" : params["txt_search"])%> </td>
					<td ><%= image_submit_tag("/images/search-icon.png",:id=>'sub_img', :onclick=>"return check_search()") %></td>
				</tr>
			</table>

				
				<div class="clear"></div>
			
		<%end%>
    <% @problems.each do|problem|%>
	    <%=render :partial=>'problem',:locals=>{:problem =>problem}%>	    
		<% end %>    
    <tr>
      
         <td></td><td></td>
      
      </tr>
    </table>
    <%= will_paginate @problems %>
   
   </center>
<br><br><br>

<script type="text/javaScript">
function check_search()
{
	if($("#txt_search").val()==='')
	{
		return false;
	}
	return true;
}
function show_solutions(problem_id)
{  
	$(document).ready(function(){		
	
		$.ajax({
		type: "POST",
	  url: "/solutions/solutions",
	  data: { problem_id : problem_id, c_u : <%= current_user.id %>  },
	  success: function(response){
	  	$("div#solution_"+problem_id).html(response);
			$("div#solution_"+problem_id).show();
			$("#show_button_"+problem_id).hide();
			$("#hide_button_"+problem_id).show();
		}
	 // dataType: "html"  
		});		
	});
}

function hide_solutions(problem_id)
{
$("div#solution_"+problem_id).hide();
$("#show_button_"+problem_id).show();
$("#hide_button_"+problem_id).hide();
}

function checkSolution(problem_id)
{
var sol = document.getElementById("solution_of_"+problem_id).value
  if(sol == "" || sol ==null)
  {
  	alert("Solution Can't be Blank");
  	return false;
  }
  
	
	return true;
}
</script>
