<!DOCTYPE html>
<html>
  <head>
    <title>ED ALBUM</title>
     <%= render :partial => 'layouts/default_js_css' %>
   </head>
   <body>
     <div id="container">
       <%= render :partial => 'layouts/header' %>
       <%= render :partial => nav %>       
       <%= render :partial => 'layouts/slides_container' %>  
        <div id="body" class="has-slider">
     <% unless flash[:notice].blank? %>
      <div class="clear"> </div>
      <div id='notice_msg'> <%= flash[:notice] %> </div>
     <% end %>
      <% unless flash[:error].blank? %>
        <div id="error_msg"> <%= flash[:error] %> <div>
      <%end%>
       <div class="middile">
            <%= yield %>
       </div>     
    	<div class="clear"></div>
    </div>
   <%= render :partial => 'layouts/footer' %>    
   </body>
 </html>
